<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/todo.css">
    <sectionn id="todo">
        <div class="outer-container container-fluid no-padding">
            <div class="row inner-container dynamic-cols no-padding">
                <div class="col-md-3 col-sm-3 todo-list-container no-padding">
                    <div class="todo-filters-container">
                        <ul class="todo-filters">
                            <li class="todo-filter">All</li>
                            <li class="todo-filter">Type <span class="caret"></span></li>
                            <li class="todo-filter">By <span class="caret"></span></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="todo-container">
                        <ul class="todo-list">
                            <li class="todo"><input type="text" placeholder="Placeholder"></li>
                        </ul>
                    </div>
                    <div class="add-todos-container">
                        <ul class="add-todos-list">
                            <li><span class="add-todo-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Add New Task</li>
                            <li><span class="add-todo-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Create Task Group</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </sectionn>


<% include ../partials/footer %>