<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/todo.css">
    <sectionn id="todo">
        <div class="outer-container container-fluid no-padding">
            <div class="row inner-container dynamic-cols no-padding">
                <div class="col-md-3 col-sm-3 todo-list-container no-padding">
                    <div class="todo-filters-container">
                        <ul class="todo-filters">
                            <li class="todo-filter">All</li>
                            <li class="todo-filter">Type <span class="caret"></span></li>
                            <li class="todo-filter">By <span class="caret"></span></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="todo-container">
                        <ul class="todo-list">
                            <li class="todo">
                                <i class="fa fa-circle edit-trigger" aria-hidden="true" type="button" data-title='Edit Group <button class="close close-popover">&times</button>' data-container="body" data-toggle="popover" data-placement="right">
                                </i><input type="text" placeholder="Placeholder">
                            </li>
                        </ul>
                        <div class="popover-content" style="display: none;">
                            <div class="edit-template col-xs-6">
                                <p class="popover-p"><span class='edit-icon'><i class='fa fa-circle' aria-hidden='true'></i></span> General</p><p class="popover-p"><span class='edit-icon'><i class='fa fa-circle' aria-hidden='true'></i></span> General</p><p class="popover-p"><span class='edit-icon'><i class='fa fa-circle' aria-hidden='true'></i></span> General</p><p class="popover-p"><span class='edit-icon'><i class='fa fa-circle' aria-hidden='true'></i> General</p>
                            </div>
                        </div>
                    </div>
                    <div class="add-todos-container">
                        <ul class="add-todos-list">
                            <li id="add-task"><span class="add-todo-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Add New Task</li>
                            <li id="add-group"><span class="add-todo-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span> Create Task Group</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 todo-detail-container">
                    <div class="expandable-outer-container">
                        <div class="expandable-container">
                            <!--<span class="pull-right">&times</span><span class="pull-right"><i class="fa fa-check" aria-hidden="true"></i></span>-->
                            <h4 class="task-title inline">Work On Operating system project</h4>
                            <div class="hidden-content hide">
                                <label for='details'>Details</label>
                                <p id="details">This is going to show once I am clicked on!</p>
                                <label for='notes'>Notes</label>
                                <p class="notes">Some notes go here</p>
                                <textarea class="form-control hide-textarea" rows=3></textarea>
                            </div>
                        </div>
                        <div class="expandable-container">
                            <h3 class="task-title inline">Task 1</h3><span>&times</span><span><i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                        <div class="expandable-container">
                            <h3 class="task-title inline">Task 1</h3><span>&times</span><span><i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class='col-md-3 col-sm-3 motivation-container collapse-container'>
                    <p>Some motivation</p>
                </div>
            </div>
        </div>
    </section>


<% include ../partials/footer %>
<script type="text/javascript" src="../../javascript/todo.js"></script>