    <script type="text/javascript">
        document.querySelector(".message .close").addEventListener("click", function(event) {
            document.querySelector(".message").style.display = "none"; 
        });
    </script>
    </body>
</html>