body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
	width: 100% !important;
	height: 100% !important;
	line-height: 1.7em;
	font-weight: 700;
}

.card-wrapper {
	display: none;
}

.show-on-mobile {
	display: block;
}

ul, ol {
	list-style: none;
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.section-title hr{
	height: 4px;
	width: 150px;
	text-align: center;
	position: relative;
	background: #38c0c9;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
	font-family: "Roboto", sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

.active-page {
	color: #38c0c9 !important;
}

.navbar-custom {
	padding: 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: #333;
	text-transform: uppercase;
}

.navbar-custom .navbar-toggle {
	color: #eee;
	font-size: 18px;
	border-radius: 2px;
	padding: 0 4px;
	margin-top: 12px;
}

.navbar-toggle {
	background-color: none;
}


.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
	margin: 10px 0;
}

.navbar-custom .nav li {
	font-size: 0.8em;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #38c0c9;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	/*color: #38c0c9;*/
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	color: #38c0c9;
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

.navbar-left {
  margin: auto;
	padding: 0;
}
.navbar-left>img {
  height: auto;
  width: 50%;
	margin-left: 5%;
}

a {
	color: #777;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: #38c0c9;
	cursor: pointer;
}

p {
  color: #333;
}

/* Who We Are Section */
#who {
  height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-people-1.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

#who .content {
  font-size: 1.7em;
  margin: 4% 0;
	text-align: left;
	line-height: 1.2em;
}

#who .logo {
  padding-bottom: 15%;
}

strong {
  color: #38c0c9;
}

#who .show-mobile {
	display: none;
}

/* What We Do Section */
#what {
  height: 100%;
  width: 100%;
  background: url(../img/backgrounds/bg-people-7.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.btn-wrapper {
  text-align: center;
  padding-top: 5%;
}

.buttons {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

#what .content {
  font-size: 1.4em;
  color: #333;
  margin-top: 4%;
  line-height: 1.2em;
}

#what li {
	margin-top: 10%;
}

#what .iphone-wrapper {
  background: url(../img/iphone.png) no-repeat;
	width: 250px;
	height: 530px;
  margin-top: 10%;
  margin-left: 10%;
}

#what .iphone-image {
  position: relative;
  width: 220px;
  height: 392px;
  top:60px;
  left: 14px;
  overflow: hidden;
}

#clubs-image {
  background: url(../img/mockups/mockup_club.png);
}

#action-image {
  background: url(../img/mockups/mockup_fan.png);
}

#brands-image {
  background: url(../img/mockups/mockup_brand.png);
}

#players-image {
  background: url(../img/mockups/mockup_idol.png);
}

#match-image {
  background: url(../img/mockups/mockup_idol.png);
}

/* benefits Section */
#benefits {
  height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-people-9.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: left 25%;
}

.branding {
	height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-people-11.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.engagement {
	height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-people-10.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.growth {
	height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-kids-3.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.revenue {
	height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-kids-4.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.growth .pull-down {
	margin-top: 25%;
}

.pull-down {
	margin-top: 10%;
}


/* Engagement Section */
#engagement {
  height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-people-8.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: top;
}

#engagement .description {
	color: #333;
}

.card {
  background: #333;
	/*cursor: pointer;*/
}

.card-active {
	background: #38c0c9;
	transition: .3s ease-in-out;
}

.caption > * {
	/*color: #38c0c9;*/
	color: #fff;
}

.thumbnail {
	border: none;
	box-shadow: 0px 10px 10px #000;
}

.fa-play {
	color: #4FCF6D;
}

.card-icon {
  font-size:3em;
  vertical-align:top;
  padding-left: 8px;
}

.card-header {
  display:inline-block;
  padding-left:8%;
  vertical-align:top;
}

.card-data-label {
  font-size:0.8em;
  display:block;
  opacity: 0.8;
	/*border-bottom: 1px solid #38c0c9;*/
}

.card-footer-label {
  font-size: 0.6em;
  display:block;
  opacity: 0.8;
}

.card-data {
  font-size:1.8em;
	font-weight: bold;
	/*border-bottom: 1px solid #38c0c9;*/
}

.card-data-small {
	font-size: 0.6em !important;
	font-weight: 200 !important;
}

.card-footer-data {
  font-size: 1.4em;
}

.card-footer {
  margin: 0 4%;
}

.card-footer-left, .card-footer-right {
  display: inline-block;
}

.card-footer-right {
  float: right;
}

.fa-apple, .fa-android, .google-play {
  font-size: 2em;
}

.page-link {
  color: #fff;
}

.page-link:hover, .page-link:focus {
  color: #fff;
}

#card-headings .thumbnail {
  height: 125px;
  width: auto;
}


.btn-default {
	color: #333;
	background: none;
	/*border: 1px solid #38c0c9;*/
	margin: 0 8px;
	font-size: 18px;
	position: relative;
  /*border-radius: 24px;*/
  width: 150px;
}

.filter-btn {
	color: #333;
	margin: 0 8px;
	font-size: 18px;
	position: relative;
	width: 150px;
}

.filter-btn:hover, .filter-btn.active {
	color: #38c0c9;
	border-bottom: 2px solid #38c0c9;
}

/* implementation section */
#implementation {
	height: 100%;
  width: 100%;
  padding: 60px 0 400px 0;
	background: url(../img/backgrounds/bg-people-6.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.implementation-inner-wrapper {
	width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	/*pointer-events: none;*/
}

.implementation-inner-wrapper span {
	cursor: pointer;
}

.implementation-active {
	color: #38c0c9;
	transition: .3s ease-in-out
}

#implementation hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: #38c0c9;
  border: none;
  transition: .3s ease-in-out;
}

.fa-check-circle {
	font-size: 5em;
}

.implementation-footer p {
	font-size: 1.2em;
}

.carousel-indicators.carousel-indicators--thumbnails li {
  width: 80px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 0;
}
.carousel-indicators.carousel-indicators--thumbnails .active {
  background-color: none;
}
.carousel-indicators.carousel-indicators--thumbnails .active .thumbnail {
  /*border-color: #337ab7;*/
}

.fa-bullhorn {
	font-size: 3em;
}

.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s; /* Safari 4+ */
  -moz-animation:    fadeIn 0.5s; /* Fx 5+ */
  -o-animation:      fadeIn 0.5s; /* Opera 12+ */
  animation:         fadeIn 0.5s; /* IE 10+, Fx 29+ */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 1s; /* Safari 4+ */
  -moz-animation:    fadeOut 1s; /* Fx 5+ */
  -o-animation:      fadeOut 1s; /* Opera 12+ */
  animation:         fadeOut 1s; /* IE 10+, Fx 29+ */
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

/* Media Queries */
@media (min-width: 1025px) {
	#who {
		height: 120%;
	}

	.right {
		float: right;
	}
	.pull-down-reus {
		margin-top: 25%;
	}
}

@media (max-width: 648px) {
	#who .content {
		font-size: 1em;
    margin: 8% 0;
    text-align: center;
	}

	.pull-down-reus {
		margin-top: 65%;
	}

	.partner-header h1 {
		font-size: 2em !important;
	}

	.partner-img {
		max-width: 40%;
		height: auto;
		padding-bottom: 10px !important;
	}

	.association-img {
		max-width: 60%;
	}

	.association-name {
		font-size: 1.2em;
	}

	.associations-container {
		margin-top: 35% !important;
	}

	.association-location {
		font-size: 1em !important;
	}

	.growth .pull-down {
		margin-top: 10%;
	}

	.benefits-graphic {
		max-width: 60%;
		height: auto;
	}

	#who .logo {
		padding-bottom: 5%;
	}

	.next-stage, .prev-stage {
		top: 45% !important;
	}

	/*.card-wrapper {
		display: none;
	}*/

	/*.show-on-mobile {
		display: block;
	}*/

	.audience-title {
		text-align: center;
	}

	.next-card, .prev-card {
		width: 30px !important;
		height: 35px !important;
	}

	.description {
		font-size: 1.2em !important;
		text-align: left;
	}

.respond-mobile {
	max-width: 80%;
	margin: 0 auto;
}

	#benefits, #engagement {
		height:auto;
		padding-top: 20px;
	}

	#benefits {
		background-position: 40%;
	}

	#engagement {
		background: url(../img/backgrounds/bg-people-8.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		background-position: 70%;
	}

	#who .show-mobile {
		display: block;
	}

	.col-centered {
		margin: 0 auto !important;
		float: none !important;
	}

	.filter-btn {
		margin-bottom: 4px;
		width: 35%;
	}

	#what .content {
	  font-size: 1em;
	  color: #333;
	  margin-top: 4%;
	  line-height: 1.2em;
		text-align: center;
	}

	#what {
		height: auto;
	}
}

/* Plane Animation */
.demo-dot {
  /*-webkit-animation: xAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);
  animation: xAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);*/
}

.demo-dot::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  /*-webkit-animation: yAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);
  animation: yAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);*/
}

.audience-title {
	color: #38c0c9;
	font-size: 2.5em;
	margin-bottom: 20px;
	/*border-bottom: 2px solid #38c0c9;*/
	/*text-align: center;*/
}

.description {
	font-size: 2em;
	margin-bottom: 5%;
	line-height: 1em;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: none;
  background-color: none;
  border: none;
  border-radius: none;
}
.carousel-indicators .active {
  width:50px;
  height: 50px;
  margin: 0;
  background-color: none;
}

.icon {
	width: 50px;
	height:50px;
	display: inline-block;
	position: fixed;
}

#institutions {
	height: 100%;
  width: 100%;
  padding: 80px 0;
  background: url(../img/backgrounds/bg-contact.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.swiper-title {
	color: #333;
	text-align: center;
}

.next-award {
	right: -30px;
	position: relative;
	z-index: 10;
}


.next-card {
	right: -30px !important;
	position: relative;
}

.prev-card {
	left: -30px !important;
	position: relative;
}

.next-award, .next-institution, .prev-award, .prev-institution {
	top: 65% !important;
}


.awards {
	margin-top: 5%;
}

.swiper-inner {
	width: 90%;
}

.swiper-outer {
	position: relative;
}

#partners {
	height: 100%;
	width: 100%;
	background: #333;
}

#partners .pull-down {
	margin-top: 15%;
}

.partners {
	height: 100%;
	width: 100%;
	position: relative;
}

.partners a {
	color: #38c0c9;
}

.partner-header {
	margin: 8% 0 0 5%;
	color: #333;
}

.partner-header h1 {
	font-size: 4em;
	border-bottom: 2px solid #38c0c9;
	display: table;
}

.partner-description {
	font-weight: 400;
}

.espanyol {
	height: 100%;
	width: 100%;
	background: url(../img/backgrounds/bg-espanyol.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.reus {
	height: 100%;
	width: 100%;
	background: url(../img/backgrounds/bg-reus.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Contact Section */
#contact {
	padding: 60px 0 40px 0;
  background: url(../img/backgrounds/bg-contact.jpg);
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  color: #333;
}
#contact .contact-item {
	padding: 10px;
	margin: 10px;
	height: 100px;
	border-radius: 4px;
}
#contact h2 {
	font-size: 3em;
	margin-top: 40px;
  color: #333;
}


#contact form {
	padding: 30px 0;
}
#contact i.fa {
	font-size: 22px;
	color: #38c0c9;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff3333;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #333;
	background-image: none;
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #38c0c9;
	outline: 0;
	-webkit-box-shadow: 0 0 10px #38c0c9;
  -moz-box-shadow: 0 0 10px #38c0c9;
	box-shadow: 0 0 10px #38c0c9;
}
#contact .btn-default {
	background: #38c0c9;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #333;
	margin-top: 15px;
	font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
	background: #38c0c9;
	-webkit-box-shadow: inset 0 0 20px #333;
  -moz-box-shadow: inset 0 0 20px #333;
	box-shadow: inset 0 0 20px #333;
}

#contact .social ul {
	margin-top: 30px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding-top: 8px;
	/*#cf5022*/
	color: #38c0c9;
	border-radius: 4px;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: rgba(135,180,255,1);
}

#contact .fa:hover {
	color: rgba(135,180,255,1);
}

#contact .content {
	font-size: 1.2em;
	text-align: center;
}

#map {
	height: 400px;
	width: 100%;
	background-color: lightgrey;
}


/* Associations Section */
#associations {
	height: 100%;
  width: 100%;
  padding: 60px 0;
  background: url(../img/backgrounds/bg-partners.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

.association-img {
	margin: 0 auto;
}

.associations-container {
	margin: 0 auto;
	float: none;
	margin-top: 15%;
	display: flex;
	display: -ms-flexbox;
  display: -webkit-flex;
	justify-content: space-between;
}

.association-name {
	text-align: center;
	color: #333;
}

.association-location {
	color: #38c0c9;
	text-align: center;
	font-size: 2em;
}
