body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #fff;
	width: 100% !important;
	height: 100% !important;
	line-height: 1.7em;
}

ul, ol {
	list-style: none;
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

.navbar-custom {
	padding: 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: #333;
	text-transform: uppercase;
}

.navbar-custom .navbar-toggle {
	color: #eee;
	font-size: 18px;
	border-radius: 2px;
	padding: 0 4px;
	margin-top: 12px;
}

.navbar-toggle {
	background-color: none;
}


.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
	margin: 10px 0;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #38c0c9;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #38c0c9;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	color: #38c0c9;
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}

.navbar-left {
  margin: auto;
	padding: 0;
}
.navbar-left>img {
  height: auto;
  width: 50%;
	margin-left: 5%;
}

a {
	color: #777;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: #38c0c9;
	cursor: pointer;
}

p {
  color: #fff;
}

/* Who We Are Section */
#who {
  height: 100%;
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(to right, rgba(40, 40, 40,0.6), rgba(40, 40, 40, 0.6)), url(../img/backgrounds/bg-people-1.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

#who .content {
  font-size: 1.7em;
  margin: 4% 0;
	text-align: left;
	line-height: 1.2em;
}

#who .logo {
  padding-bottom: 15%;
}

#who strong {
  color: #38c0c9;
}

#who .show-mobile {
	display: none;
}

/* What We Do Section */
#what {
  height: 100%;
  width: 100%;
  background: url(../img/backgrounds/bg-people-7.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: center;
}

#what .btn-wrapper {
  text-align: center;
  padding-top: 5%;
}

#what .buttons {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

#what .content {
  font-size: 1.4em;
  color: #333;
  margin-top: 4%;
  line-height: 1.2em;
}

#what li {
	margin-top: 10%;
}

#what .iphone-wrapper {
  background: url(../img/iphone.png) no-repeat;
  width: 300px;
  height: 635px;
  margin-top: 10%;
  margin-left: 10%;
}

#what .iphone-image {
  position: relative;
  width: 265px;
  height: 470px;
  top:70px;
  left: 18px;
  overflow: hidden;
}

#clubs-image {
  background: url(../img/mockups/mockup_club.png);
}

#fans-image {
  background: url(../img/mockups/mockup_fan.png);
}

#brands-image {
  background: url(../img/mockups/mockup_brand.png);
}

#players-image {
  background: url(../img/mockups/mockup_idol.png);
}

/* Audience Section */
#audience {
  height: 100%;
  width: 100%;
  padding: 60px 0;
  background: linear-gradient(to right, rgba(40, 40, 40,0.6), rgba(40, 40, 40, 0.6)), url(../img/backgrounds/bg-kids-1.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: top;
}

/* Engagement Section */
#engagement {
  height: 100%;
  width: 100%;
  padding: 60px 0;
	/*linear-gradient(to right, rgba(40, 40, 40,0.6), rgba(40, 40, 40, 0.6)), */
  background: url(../img/backgrounds/bg-people-8.jpg);
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  background-position: top;
}

#engagement .description {
	color: #333;
}

.card {
  background: #333;
}

.card-active {
	background: #38c0c9;
}

.caption > * {
	/*color: #38c0c9;*/
	color: #fff;
}

.thumbnail {
	border: none;
	box-shadow: 0px 10px 10px #000;
}

.fa-play {
	color: #4FCF6D;
}

.card-icon {
  font-size:3em;
  vertical-align:top;
  padding-left: 8px;
}

.card-header {
  display:inline-block;
  padding-left:8%;
  vertical-align:top;
}

.card-data-label {
  font-size:0.8em;
  display:block;
  opacity: 0.8;
	/*border-bottom: 1px solid #38c0c9;*/
}

.card-footer-label {
  font-size: 0.6em;
  display:block;
  opacity: 0.8;
}

.card-data {
  font-size:1.8em;
	font-weight: bold;
	/*border-bottom: 1px solid #38c0c9;*/
}

.card-data-small {
	font-size: 0.6em !important;
	font-weight: 200 !important;
}

.card-footer-data {
  font-size: 1.4em;
}

.card-footer {
  margin: 0 4%;
}

.card-footer-left, .card-footer-right {
  display: inline-block;
}

.card-footer-right {
  float: right;
}

.fa-apple, .fa-android, .google-play {
  font-size: 2em;
}

.page-link {
  color: #fff;
}

.page-link:hover, .page-link:focus {
  color: #fff;
}

#card-headings .thumbnail {
  height: 125px;
  width: auto;
}


.btn-default {
	color: #333;
	background: transparent;
	border: 1px solid #38c0c9;
	margin: 0 8px;
	font-size: 18px;
	position: relative;
  border-radius: 24px;
  width: 150px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
	color: #f6f6f6 !important;
	background-color: #38c0c9 !important;
  outline: none !important;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s; /* Safari 4+ */
  -moz-animation:    fadeIn 0.5s; /* Fx 5+ */
  -o-animation:      fadeIn 0.5s; /* Opera 12+ */
  animation:         fadeIn 0.5s; /* IE 10+, Fx 29+ */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 1s; /* Safari 4+ */
  -moz-animation:    fadeOut 1s; /* Fx 5+ */
  -o-animation:      fadeOut 1s; /* Opera 12+ */
  animation:         fadeOut 1s; /* IE 10+, Fx 29+ */
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

/* Media Queries */
@media (min-width: 1025px) {
	#who, #what {
		height: 120%;
	}
}

@media (max-width: 648px) {
	#who .content {
		font-size: 1em;
    margin: 8% 0;
    text-align: center;
	}

	#audience, #engagement {
		height:auto;
		padding-top: 20px;
	}

	#audience {
		background-position: 40%;
	}

	#engagement {
		background: linear-gradient(to right, rgba(40, 40, 40,0.6), rgba(40, 40, 40, 0.6)), url(../img/backgrounds/bg-people-8.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		background-position: 70%;
	}

	#engagement .description {
		color: #fff;
	}

	.hide-mobile {
		display: none;
	}

	#who .show-mobile {
		display: block;
	}

	.col-centered {
		margin: 0 auto !important;
		float: none !important;
	}

	.filter-btn {
		margin-bottom: 4px;
		width: 35%;
	}

	#what .content {
	  font-size: 1em;
	  color: #333;
	  margin-top: 4%;
	  line-height: 1.2em;
		text-align: center;
	}

	#what {
		height: auto;
	}
}

/* Plane Animation */
.demo-dot {
  /*-webkit-animation: xAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);
  animation: xAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);*/
}

.demo-dot::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  /*-webkit-animation: yAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);
  animation: yAxis 2.5s cubic-bezier(0.05, 0.69, 0.45, 0.95);*/
}

.audience-title {
	color: #38c0c9;
	/*border-bottom: 2px solid #38c0c9;*/
	/*text-align: center;*/
}

.description {
	font-size: 1.2em;
}
