#faq-home {
  min-height: 100%;
  width: 100%;
  padding: 50px 0 0 0;
}

.row-header {
  padding: 20px;
}

.card {
  height: 250px;
  width: auto;
  background: #38c0c9;
  padding: 0;
  overflow: hidden;
  /*box-shadow: 0 10px 10px black;*/
}


.display-inline {
  display: inline-block;
}

.center {
  position: relative;
  display: inline-block;
  top: 20%;
}

.caption {
  position:absolute;
  top:0;
  left:0;
  background:rgba(20, 20, 20, 0.9);
  height: 250px;
  width:100%;
  border-radius: 6px;
  display: none;
  text-align:left;
  color:#fff !important;
  z-index:2;
  font-size: 0.9em;
}

.caption h4 {
  color: #38c0c9;
}

@media (max-width: 648px) {
  .caption h4 {
    font-size: 1.1em;
    margin: 2px auto;
  }

  .caption {
    font-size: 0.8em;
  }

  .center-on-mobile {
    margin: 0 auto;
    float: none;
  }
}
