<% include partials/header %>

<div id="index-header">
    <h1 class="page-header">How Does It Work</h1>
</div>    

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-centered">
            <ul>
                <li id="demo" class="step">
                    <div class="center-block thumbnail animated slideInUp">
                        <img class="img-rounded" src="https://media.giphy.com/media/E8wm3nfbNWBdC/giphy.gif">
                        <div class="caption well">
                            <h3>Step 1:
                                <a id="forward" class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-menu-right"></span></a>
                            </h3>
                            <p>Place the package on a stable, flat surface and position into a teepee shape as shown above to maximize the angle of the logs.</p>
                        </div>
                    </div>               
                </li>
                <li id="demo" class="step">
                    <div class="thumbnail">
                        <img class="img-rounded" src="https://media.giphy.com/media/J5H8FPrRYgacg/giphy.gif">
                        <div class="caption well">
                            <h3>Step 2:
                                <a id="forward" class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-menu-right"></span></a>
                                <a id="back" class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-menu-left"></span></a>
                            </h3>
                            <p>Remove the matches located  to the fire shaped cutout on each of the package's long sides as shown above.</p>
                        </div>  
                    </div>
                </li>
                <li id="demo" class="step">
                    <div class="thumbnail">
                        <img class="img-rounded" src="https://media.giphy.com/media/E8wm3nfbNWBdC/giphy.gif">
                        <div class="caption well">
                            <h3>Step 3:
                                <a id="forward" class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-menu-right"></span></a>
                                <a id="back" class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-menu-left"></span></a>
                            </h3>
                            <p>Strike the match and drop it inside the fire shaped cutout on each of the package's long as shown above.</p>
                            <div class="well">
                                <h4 id="info">Info</h4>
                                <p>
                                    There is a material layered in the bottom 
                                    of the package which is used to ignite the fire underneath the wood to maximize distribution of flame. 
                                    It is bio-friendly and offers a better alternative to paper kindling
                                </p>
                            </div>
                        </div>
                    </div>            
                </li>
                <li id="demo" class="step">
                    <div class="thumbnail">
                        <img class="img-rounded" src="https://media.giphy.com/media/E8wm3nfbNWBdC/giphy.gif">
                        <div class="caption well">
                            <h3>Step 4:
                                <a class="btn btn-success btn-mini pull-right"><span class="glyphicon glyphicon-repeat"></span></a>
                            </h3>
                            <p>Kick back in your favorite chair, turn on the tunes, and watch your fire start up fast with <em><strong>FastFire.</strong></em></p>
                        </div>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
    
</div>


<% include partials/footer %>