body {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-image: url(https://images.unsplash.com/photo-1491831718109-ffc2cb30cc38?dpr=2&auto=compress,format&fit=crop&w=376&h=282&q=80&cs=tinysrgb&crop=&bg=);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar {
    -webkit-box-shadow: 0px 20px 20px rgba(10, 10, 10, 1.0);
    -moz-box-shadow:    0px 20px 20px rgba(10, 10, 10, 1.0);
    box-shadow:         0px 20px 20px rgba(10, 10, 10, 1.0);
    z-index:999;
}

.well {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 5px 5px rgba(10, 10, 10, 1.0);
    -moz-box-shadow:    0px 5px 5px rgba(10, 10, 10, 1.0);
    box-shadow:         0px 5px 5px rgba(10, 10, 10, 1.0);
}


.navbar-brand {
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	padding-top: 10px;
}

.navbar-inverse .navbar-brand, .nav.navbar-nav li a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
    text-shadow: 0px 4px 3px rgba(235, 0, 0, 0.4),
				 0px 10px 15px rgba(255, 255, 224, 1),
                 0px 8px 13px rgba(255, 174, 66, 0.2);
}

#dropdown:hover {
    text-shadow: 0px 4px 3px rgba(235, 0, 0, 0.4),
				 0px 10px 15px rgba(255, 255, 224, 1),
                 0px 8px 13px rgba(255, 174, 66, 0.2);
}

#dropdown {
    color: black;
}

#info {
    color: rgb(99,154,242);
    font-weight: 700;
}

#paragraph {
    text-align: justify;
    font-size: 1em;
}


#recruitment {
    margin-bottom: 5px;
    display: inline-block;
}

.business-header {
    color: white;
}

.dropdown-menu {
    background-color: white;
}

dd {
    padding-left: 3%;
}

.page-header {
    font-size: 4em;
    font-weight: 700;
    color: white;
    background-color: rgba(235, 175, 40, 0.8);
    text-align: center;
}


.jumbotron {
    margin-top: 5%;
    margin-bottom: 0;
    height: 80%; 
}

#mission {
    padding-top: 5%;
    height: auto;
    background-color: rgba(10, 10, 10, 0.4);
    overflow-y: scroll;
}

#mission .row {
    padding-top: 2%;
    padding-bottom: 2%;
}

#mission p {
    margin: 5%;
    text-align: left;
}

#index-header {
    padding-top: 5%;
    margin-bottom: -5%;
}

.thumbnail {
    border: 2px solid rgba(100, 100, 100, 0.8);
    -webkit-box-shadow: 0px 10px 7px rgba(10, 10, 10, 1.0);
    -moz-box-shadow:    0px 10px 7px rgba(10, 10, 10, 1.0);
    box-shadow:         0px 10px 7px rgba(10, 10, 10, 1.0);
    margin-top: 10%;
}

.thumbnail p {
    font-size: 1.5em;
}

ul {
    padding: 0;
}

.dropdown .dropdown-menu {
    visibility: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

.img-circle {
    height: 150px;
    width: 150px;
    overflow: hidden;
}


.img-rounded {
    width: 98%;
    height: auto;
}


#left-img {
    float: right;
}

#right-img {
    float: left;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.number {
    text-align:right;
}

h3 a {
    margin-left: 1%;
}

.fixed {
    color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    position: fixed;
    left: 50%;
    bottom: 0.5%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#scroll-down {
    font-size: x-large;
}
