<% include ./profile-header %>
                    <div class="col-lg-9">
                        <div class="row profile-header">
                            <div class="col-lg-12">
                                <h1>Connor</h1>
                                <p>
                                    Add some details about yourself 
                                    so we can provide you the best content and suggested mentors to adhere to your personal development
                                </p>
                            </div>
                        </div>
                        <div class="row profile-form-container">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-10 col-centered">
                                        <form action="#" class="basic-profile-form">
                                            <div class="form-group required">
                                                <label for="bio">Bio</label>
                                                <textarea rows="5" class="form-control" id="bio" placeholder="Tell us about yourself, what your life is like, what you like to do, your interests."></textarea>
                                            </div>
                                            <div class='form-group required'>
                                                <label for="category">Skills To Improve <span class="small">(Min: 1, Max: 5)</span></label>
                                                <select class="form-control">
                                                  <option>Development</option>
                                                  <option>Technology</option>
                                                  <option>Management</option>
                                                  <option>Personal Development</option>
                                                  <option>Design</option>
                                                </select>
                                            </div>
                                            <div class='form-group'>
                                                <label for="category">Hobbies <span class="small">(Check all that apply)</span></label>
                                                <select class="form-control">
                                                  <option>Outdoors</option>
                                                  <option>Learning</option>
                                                  <option>Sports</option>
                                                  <option>People</option>
                                                  <option>Adventure</option>
                                                  <option>Food</option>
                                                  <option>Charity</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="linked-in"><i class='fa fa-linkedin'></i></label>
                                                <input type="text" class="form-control" id="linked-in" placeholder="www.mylinkedin.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="github"><i class='fa fa-github'></i></label>
                                                <input type="text" class="form-control" id="github" placeholder="www.mygithub.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="facebook"><i class='fa fa-facebook'></i></label>
                                                <input type="text" class="form-control" id="facebook" placeholder="www.mylinkedin.com">
                                            </div>
                                            <div class="form-group text-center">
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
<% include ./profile-footer %>