<% include ../partials/header %>
    <!--<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css">-->
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 profile-container">
                    <div class="col-lg-3 profile-options-container">
                        <img class="img-responsive img-circle col-centered profile-photo" src="../../images/01.jpg">
                        <ul class="profile-options col-centered">
                            <li><a id="basics" href="/profile/basics">Basics</a></li>
                            <li><a id="details" href="/profile/details">Details</a></li>
                            <li><a id="photo" href="/profile/photo">Photo</a></li>
                            <li><a id="settings" href="/profile/settings">Account Settings</a></li>
                        </ul>
                    </div>
                    
                    <script> 
                        function changeActive() {
                            var link = <%=activeLink%>;
                            // document.querySelector('.active-profile').classList.remove('active-profile');
                            document.getElementById(link.textContent.toLowerCase()).classList.add('active-profile');
                        }
                        changeActive();
                    </script>