<% include ../partials/header %>
<div id="register" class="ui main container segment">
    <div class="ui huge header">Login Information</div>
    <form action="/login" method="POST" class="ui form">
        <div class="required field">
            <label><strong>Username</strong></label>
            <input  type="text" name="username" placeholder="johndoe456">
        </div>
        <div class="required field">
            <label><strong>Password</strong></label>
            <input  type="password" name="password" placeholder="PinkElephants711">
        </div>
        <button class="ui blue animated huge submit button">
            <div class="visible content">Login</div>
            <div class="hidden content">
                <i class="send icon"></i>
            </div>
        </button>
    </form>
</div>

<% include ../partials/footer %>