<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

    <!-- Incluse custom scripts here -->
    <script type="text/javascript" src="../../javascript/main.js"></script>
    <script type="text/javascript" src="../../javascript/actions.js"></script> 

    <script>
      // Init swipers
      var videosSwiper = new Swiper('.videos', {
        slidesPerView: 4,
        spaceBetween: 5,
        freeMode: true,
        loop:true,
        nextButton: '.videos-next',
        prevButton: '.videos-prev',
        breakpoints: {
          1200 : {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          }
        }
      });

      var booksSwiper = new Swiper('.books', {
        slidesPerView: 4,
        spaceBetween: 5,
        freeMode: true,
        loop:true,
        nextButton: '.books-next',
        prevButton: '.books-prev',
        breakpoints: {
          1200 : {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          }
        }
      });
    </script>

  </body>
</html>