<% include ./partials/header %>
    <section id="dashboard">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-sm-6 pull-right social-stream-outer-container">
            <div class="social-stream-wrapper container">
              <div class="social-stream-container">
                <div class="social-header">
                  <h5 class="small">Friend Requests</h5>
                  <span class="small show-more pull-right"><a class="show-all-friends">See All</a></span>
                </div>
                <div class="friends-container">
                  <div class="social-content col-xs-12 col-centered">
                    <div class="friend-request">
                      <div class="inline-element"><img style="max-width: 50px; height:auto;" class="img-responsive img-circle" src="/images/01.jpg"></div>
                      <div class="inline-element"><span class="friend-request-name">Connor Crawford</span></div>
                      <div class="inline-element"><button class="btn btn-default btn-small"><i class="fa fa-user-plus" aria-hidden="true"></i> Confirm Friend</button></div>
                    </div>
                    <div class="friend-request">
                      <div class="inline-element"><img style="max-width: 50px; height:auto;" class="img-responsive img-circle" src="/images/01.jpg"></div>
                      <div class="inline-element"><span class="friend-request-name">Connor Crawford</span></div>
                      <div class="inline-element"><button class="btn btn-default btn-small"><i class="fa fa-user-plus" aria-hidden="true"></i> Confirm Friend</button></div>
                    </div>
                    <div class="friend-request">
                      <div class="inline-element"><img style="max-width: 50px; height:auto;" class="img-responsive img-circle" src="/images/01.jpg"></div>
                      <div class="inline-element"><span class="friend-request-name">Connor Crawford</span></div>
                      <div class="inline-element"><button class="btn btn-default btn-small"><i class="fa fa-user-plus" aria-hidden="true"></i> Confirm Friend</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="social-stream-wrapper container">
              <div class="social-stream-container">
                <div class="social-header">
                  <h5 class="small">Social Activity</h5>
                  <span class="pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Post</span>
                  <span class="small show-more"><a class="show-all-posts">See All</a></span>
                </div>
                <div class="activity-container">
                  <div class="social-content col-centered">
                    <div class="thumbnail posts rounded">
                      <div class="caption">
                        <div class="post-header">
                          <img class='img-responsive img-circle user-photo inline-div' src="images/01.jpg">
                          <div class="inline-div">
                            <p class="post-author"><strong>Connor Crawford</strong></p>
                            <p class="post-date small"><em>about a week ago</em></p>  
                          </div>
                          <ul class="post-socials">
                            <li class="post-social inline-div"><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                            <li class="post-social inline-div"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                            <li class="post-social inline-div"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                          </ul>
                        </div>
                        
                        <div class="post-info-container inline-div">
                          <h4><a class="post-title" src="https://www.youtube.com/embed/Pndv8u4gfD4">Awesome Video from Chuk</a></h4>
                          <p class="post-content">
                            He talks directly to the young
                            people in this video so if you are in your twenties and need some motivation check out this awesome video.
                          </p>
                        </div>
                      </div>
                      <div class="media-content">
                        <div class="embed-responsive embed-responsive-4by3">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pndv8u4gfD4"></iframe>
                        </div>
                      </div>
                      <hr>
                      <ul class="social-engage-container">
                        <li class="social-engage inline-div"><a><i class="fa fa-thumbs-up" aria-hidden="true"></i></a><span class="small"> 152</span></li>
                        <li class="social-engage inline-div"><a><i class="fa fa-comments" aria-hidden="true"></i></a><span class="small"> 12</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="social-content col-centered">
                    <div class="thumbnail posts rounded">
                      <div class="caption">
                        <div class="post-header">
                          <img class='img-responsive img-circle user-photo inline-div' src="images/01.jpg">
                          <div class="inline-div">
                            <p class="post-author"><strong>Connor Crawford</strong></p>
                            <p class="post-date small"><em>about a week ago</em></p>  
                          </div>
                          <ul class="post-socials">
                            <li class="post-social inline-div"><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                            <li class="post-social inline-div"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                            <li class="post-social inline-div"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                          </ul>
                        </div>
                        
                        <div class="post-info-container inline-div">
                          <h4><a class="post-title" src="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034/ref=sr_1_1?s=books&ie=UTF8&qid=1502540999&sr=1-1&keywords=how+to+win+friends+and+influence+people">Awesome Book, Richest Man In Babylon</a></h4>
                          <p class="post-content">
                            This book is perfect for somebody who needs the basics of personal finance but wants to learn in an interesting way.
                          </p>
                        </div>
                      </div>
                      <div class="media-content">
                        <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/41BKx1AxQWL._AC_US436_FMwebp_QL65_.jpg">
                      </div>
                      <hr>
                      <ul class="social-engage-container">
                        <li class="social-engage inline-div"><a><i class="fa fa-thumbs-up" aria-hidden="true"></i></a><span class="small"> 152</span></li>
                        <li class="social-engage inline-div"><a><i class="fa fa-comments" aria-hidden="true"></i></a><span class="small"> 12</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dashboard-header text-left">
                  <h4>Videos</h4>
                </div>
                <div class="swiper-outer">
                  <div class="swiper-inner center-block">
                    <div class="swiper-container videos">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              <p class="less">
                                Some motivation from the man Gary Vaynerchuk. To
                                sum it up he talks about staying... <span class="inline"><a class="toggle-caption-size">More</a></span>
                              </p>
                              <p class="more">
                                Some motivation from the man Gary Vaynerchuk. To
                                sum it up he talks about staying consistent on the
                                things you can stay consistent on. Everything else, don't give a fuck about it.
                                <span class="inline"><a class="toggle-caption-size">Less</a></span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://www.youtube.com/embed/Pndv8u4gfD4" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-button-black videos-next"></div>
                    <div class="swiper-button-prev swiper-button-black videos-prev"></div>
                  </div>
                </div>
              </div>
            </div> <!-- End Videos Section -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dashboard-header text-left">
                  <h4>Books and PDF's</h4>
                </div>
                <div class="swiper-outer">
                  <div class="swiper-inner center-block">
                    <div class="swiper-container books">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe onclick='openRequestedPopup()' class="embed-responsive-item" src="https://upload.wikimedia.org/wikipedia/commons/8/81/Algorithms.pdf"></iframe>
                            </div>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <iframe class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Basic_Book_Design.pdf" frameborder="0" allowfullscreen></iframe>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/51-ZfQDqUNL._SX331_BO1,204,203,200_.jpg">
                            </div>
                            <div class="caption">
                              Awesome book about personal finance told in stories rather than a lecture style. Check it out <a>here</a>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/41BKx1AxQWL._AC_US436_FMwebp_QL65_.jpg">
                            </div>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/51X7dEUFgoL._SX320_BO1,204,203,200_.jpg">
                            </div>
                            <div class="caption">
                              Some motivation from the man Gary Vaynerchuk
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/51-ZfQDqUNL._SX331_BO1,204,203,200_.jpg">
                            </div>
                            <div class="caption">
                              Awesome book about personal finance told in stories rather than a lecture style. Check it out <a>here</a>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/51-ZfQDqUNL._SX331_BO1,204,203,200_.jpg">
                            </div>
                            <div class="caption">
                              Awesome book about personal finance told in stories rather than a lecture style. Check it out <a>here</a>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="thumbnail">
                            <div class="book-container">
                              <img class="img-responsive col-centered" style="max-height: 150px; width:auto;" src="https://images-na.ssl-images-amazon.com/images/I/51-ZfQDqUNL._SX331_BO1,204,203,200_.jpg">
                            </div>
                            <div class="caption">
                              Awesome book about personal finance told in stories rather than a lecture style. Check it out <a>here</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-button-black books-next"></div>
                    <div class="swiper-button-prev swiper-button-black books-prev"></div>
                  </div>
                </div>
              </div>
            </div> <!-- End Books/PDF's  -->
            <div class="row">
              <div class="col-lg-8">
                <div class="dashboard-header text-left">
                  <h4>Articles</h4>
                </div>
                <div class="well articles-container">
                  <ul class="articles">
                    <li class="article"><i class="fa fa-circle" aria-hidden="true"></i> <a href="https://www.stevepavlina.com/blog/2006/07/motivation-for-smart-people-sans-chest-pounding/">Motivation For Smart People</a></li>
                    <li class="article"><i class="fa fa-circle" aria-hidden="true"></i> <a href="https://zenhabits.net/the-only-two-secrets-to-motivating-yourself-youll-ever-need/">The Only Two Secrets to Motivating Yourself You’ll Ever Need</a></li>
                    <li class="article"><i class="fa fa-circle" aria-hidden="true"></i> <a href="http://thinksimplenow.com/motivation/how-to-achieve-anything/">How To Achieve Anything</a></li>
                    <li class="article"><i class="fa fa-circle" aria-hidden="true"></i> <a href="http://www.pickthebrain.com/blog/how-to-motivate-yourself/">How To Motivate Yourself</a></li>
                    <li class="article"><i class="fa fa-circle" aria-hidden="true"></i> <a href="http://lifehacker.com/150223/hack-attack-sustaining-motivation">Hack Attack: Sustaning Motivation</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ./partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
      // Init swipers
      var videosSwiper = new Swiper('.videos', {
        slidesPerView: 4,
        spaceBetween: 5,
        freeMode: true,
        loop:true,
        nextButton: '.videos-next',
        prevButton: '.videos-prev',
        breakpoints: {
          1200 : {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          }
        }
      });

      var booksSwiper = new Swiper('.books', {
        slidesPerView: 4,
        spaceBetween: 5,
        freeMode: true,
        loop:true,
        nextButton: '.books-next',
        prevButton: '.books-prev',
        breakpoints: {
          1200 : {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          }
        }
      });
    </script>
